html,
body {
  margin: 0;
  padding: 0;
  width: 680px;
  height: 340px;
  overflow: hidden;
  background-color: #222222;
}

.user-card {
  width: 680px;
  height: 340px;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 6px #222222;
  /*border-top-left-radius: 20px;*/
  /*border-top-right-radius: 20px;*/
  background-color: #222222;
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

.user-card > * {
  position: relative;
  z-index: 2;
}

.user-container {
  width: 668px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111
    url("https://github.com/Maksym-Ryaboshapka/okimi-chan-bot/blob/dev/assets/bg.png?raw=true")
    repeat;
  border-radius: 20px;
}

.user-bg {
  width: 626px;
  height: auto;
  position: relative;
  padding: 20px 10px 20px 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: solid #222 1px;
  pointer-events: none;
  z-index: 1;
}

.header {
  display: flex;
  gap: 15px;
  margin: 0 0 50px 0;
  z-index: 3;
}

.pfp {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.user-info h2 {
  margin: 0;
  font-size: 24px;
}

.user-info .country,
.user-info .rank,
.user-info .country-rank {
  margin: 2px 0;
  font-size: 14px;
}

.levelsRating {
  position: absolute;
  top: 5px;
  right: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;
  margin: 15px 0;
  width: 270px;
  z-index: 3;
}

.level-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0 0 0;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.level-box.a {
  background-color: #7ed957;
  color: #000;
}

.level-box.s1 {
  background-color: #30a4b4;
  color: rgb(255, 255, 107);
}

.level-box.s2 {
  background-color: #02bad3;
  color: rgb(233, 233, 233);
}

.level-box.ss1 {
  background-color: #b22cb2;
  color: rgb(255, 255, 107);
}

.level-box.ss2 {
  background-color: #d84fd8;
  color: rgb(233, 233, 233);
}

.level-progress {
  margin: 10px 5px;
  z-index: 3;
}

.progress-bar {
  width: 80%;
  height: 12px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  overflow: hidden;
  margin-top: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.progress {
  height: 100%;
  background: #7ed957;
  border-radius: 6px 0 0 6px;
  box-shadow: 0 0 10px rgba(126, 217, 87, 0.5);
}

.bottomBox {
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 100%;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  flex-direction: row;
  background-color: #222222;
}

.bottomBox p:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 45px;
  background-color: #4f4f4f;
  border-radius: 4px;
}

.bottomBox p:nth-child(1)::after {
  left: 140px;
}

.bottomBox p:nth-child(2)::after {
  left: 305px;
}

.bottomBox p:nth-child(3)::after {
  left: 490px;
}

.statTitle {
  padding: 5px 10px;
  margin: 0 0 10px 0;
  background-color: #4f4f4f;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.bottomBox p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 17px;
}

.worldRank {
  font-size: 24px;
  margin: 0;
}

.countryRank {
  font-size: 20px;
  margin: 0;
}

#country {
  font-size: 16px;
  margin-bottom: 10px;
}
